{%- assign talk = page -%}

{%- unless talk.hide -%}
  {%- include partials/header.html -%}

  <div class="d-flex flex-lg-row flex-column container-fluid mb-2 p-0">
    <div class="h6 mt-2 mb-0 mr-1 pr-1 pb-1">
      {% include partials/get_main_category.html %}
      <span class="p-1 pl-2 pr-2 border-soft-{{ main_cat_color }} bg-soft-{{ main_cat_color }} font-weight-normal">
        {{ main_cat }}
      </span>
    </div>

    {% if talk.categories.size > 1 %}
      <div class="h6 mt-2 mb-0 ml-1 pr-1 pb-1">
        {% for cat in talk.categories %}
          {% if cat != main_cat %}
            <span class="mr-2">{{ cat }}</span>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <h1 class="font-weight-light">{{ talk.name }}</h1>

  {%- unless talk.talks -%}
  <h2 class="mb-3 font-weight-normal">
    {% include partials/list_speakers.html %}
  </h2>
  {%- endunless -%}
  {% if talk.chairs %}
  <p class="font-weight-light mb-3">
      {%- include partials/list_chairs.html %}
  </p>
  {% endif %}

  <div class="mb-3 p-0">

    <span class="badge badge-light badge-full-size font-weight-normal text-left">
        <i class="far fa-clock"></i>&nbsp;
        {{ talk.talk_date | date: "%A" }}, {{ talk.time_start }}, {{ talk.room }}
    </span>

    {%- if site.conference.live -%}
        </span>
        {%- include partials/show_live_button.html -%}
    {%- endif -%}
  </div>

  {{ content }}

  {% include partials/get_link_types.html %}

  {% if has_icon_links %}
    <ul class="list-unstyled">
      {% for link in talk.links %}
        {% assign link_styleclass = "text-reset" %}
        {% include partials/get_link.html %}

        {% if link_icon %}
          <li class="mb-1">
            {{ link_tag }}
              <span class="badge bg-soft-{{ main_cat_color }} badge-full-size font-weight-normal mr-1">
                <i class="fas fa-{{ link_icon }} fa-fw"></i>
              </span>
              {{- link.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if has_regular_links %}
    <h3 class="mt-4 mb-1">{{ site.data.lang[site.conference.lang].more_information | default: "More information" }}:</h3>

    <ul class="list-unstyled">
      {% for link in talk.links %}
        {% assign link_styleclass = "text-reset" %}
        {% include partials/get_link.html %}

        {% unless link_icon %}
          <li class="mb-1 ml-2 pl-2 border-soft-{{ main_cat_color }}">
            {{ link_tag }}
              {{ link.name }}
            </a>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  {% endif %}

  {%- if talk.talks -%}
    {%- assign old_talk = talk -%}

    <h2 class="mt-4 mb-0">Talks in this session</h2>
    <table class="list-program">
        {%- for talk_name in old_talk.talks -%}
        {%- assign talk = site.talks | where: 'name', talk_name | first %}
        {%- assign speaker_name = talk.speakers | first %}
        {%- assign speaker = site.speakers | where: 'name', speaker_name | first -%}

        <tr>
            <td class="pr-1 py-0 align-middle">
                <span class="badge badge-light font-weight-normal text-left w-100">
                    <i class="far fa-clock"></i>&nbsp;
                    {{ talk.time_start }}
                </span>
            </td>
            <td class="pl-1 py-0">
                <h3>
                  <span class="mr-2">
                    <span>
                        <a class="text-reset" href="{{ speaker.url | prepend: site.baseurl }}">
                            {{- speaker_name -}}
                        </a>,
                    </span>
                    {%- include partials/show_talk.html -%}
                </span>
                </h3>
            </td>
        </tr>
        <tr>
          <td></td>
          <td class="pl-3 py-0 border-soft-{{ main_cat_color }}">
            <span class="mr-2">
              <!-- show abstract, offest heading levels ... -->
              {{ talk.content | replace: 'h2', 'h4' | replace: 'h3', 'h5' }} 
            </span>
          </td>
        </tr>
        {%- endfor -%}
    </table>
    
    {%- assign talk = old_talk -%}
  {%- endif -%}

  <p class="d-print-none mt-5">
    <a href="{{ page.collection | prepend: '/' | prepend: site.baseurl }}" class="btn btn-light">
      <i class="fas fa-bullhorn"></i>&nbsp;{{ site.data.lang[site.conference.lang].overview | default: "Overview" }}
    </a>

    <a href="{{ site.conference.program.url | prepend: site.baseurl }}" class="btn btn-light">
      <i class="far fa-calendar-alt"></i>&nbsp;{{ site.data.lang[site.conference.lang].program.title | default: "Program" }}
    </a>
  </p>

  {%- include partials/footer.html -%}
{%- endunless -%}
